<html>
    <head>
    
    <title> ABOUT </title>
    <style>
        body{
            background-image:url("https://swarajyanow.com/wp-content/uploads/2019/06/ORGANIC-FARMING-1024x984.png");
            background-size: 50%;background-repeat: no-repeat;background-position: right;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .display-3{
            animation: blink 5s infinite;
        }
        @keyframes blink {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
              color: green;
            }
          }
    </style>
    </head>
    <body>
    <center><h3 style="color:black;font-size: 40px"; class = "display-3">ABOUT OUR PRODUCTS</h3></center>
        <div class = "container-fluid">
            <form action = "aboutWebsite" method = "GET">
            <p align = "left">
                <div class = "container" style = "width:400px; height: 200px; padding-top: 20px;">
            <h1 style = "color:black;font-size: 40px;">&nbsp &nbsp &nbsp &nbsp Hello all!! </h1>
          <b><p style= "color:purple;font-size:30px"> Welcome to Organic Farming...</p></b>
            <h3 style="font-size: 30px;color: darkgreen;margin-left: 5%;padding-left: 3%;"> Our products were made naturally without using any chemicals.
                These are 100% pure organic products which are made by taking several precautions. </h3>
            <input type = "submit" value = "Click here to see the products available"></div>
        </p>
        </form>
        </div>
    </body>
</html>