<html>
    <head>
         <title>REGISTRATION/SIGNUP PAGE</title>
         
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        
        <style>
       body{
        background-image: url("https://c4.wallpaperflare.com/wallpaper/674/65/161/farm-farmers-water-drops-rice-wallpaper-preview.jpg");
        background-size: 100%;background-left:right;background-repeat: no-repeat;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .col-lg-9{
        animation: blink 3s infinite;
      }
      @keyframes blink {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          color: green;
        }
      }
   </style>
    </head>
    <body>
        <div class = "row">
             <div class = "col-lg-1" style = "padding-left:60px; padding-top:15px;"><img src = "https://www.pngkey.com/png/detail/244-2445261_shri-vishnu-engineering-college-for-women-vishnu-educational.png" style = "border-radius: 30%;width:70px; height:70px; font-size: 70;"></div>
            <div class = "col-lg-9" style = "padding-left: 90px;"><center><h1 style="font-size: 60px;"><b>Welcome to Organic Farming</b></h1></center></div>
           
             <div   style = "margin-left: 3%; height: 50%;width: 40%;border-radius: 2%;width: 400px;height: 575px;background-image:url('https://doraagri.com/wp-content/uploads/2020/02/Biofertilizer-bacillus-subtilis.jpg')padding-top: 20px;">  
                <center><h1 style = "color: honeydew; font-weight: bold; margin-left: cover; font-size: 30px;">SIGNUP Here!!</h1></center>
                <form action = "/signupsubmit" method = "GET" >
                    <div class = "form-group">
                         <label style="color: black;font-size: 20px;font-style: italic;"><b>NAME: </b></label>
                        <input type = "text" name = "name" class = "form-control" placeholder = "Enter your name..."><br>
                        <label style="font-size:20px;"><b>EMAIL: </b></label>
                        <input type = "email" name = "email" class = "form-control" placeholder = "Enter your email..."><br>
                        <label style="font-size:20px;"><b>PHONE NUMBER: </b></label>
                        <input type = "phone" name = "phone" class = "form-control" placeholder = "Enter your phone number..."><br>
                        <label style="font-size:20px;"><b>PASSWORD: </b></label>
                        <input type = "password" name = "password" class = "form-control" placeholder = "Enter password..."><br></div>
                    
                    <center><input type = "submit" style = "width:30%;font-weight: bold;" value = "SIGNUP"><br></center></form>
                <h5 style = "width: 100%;text-align: center;border-bottom: 2px solid green;line-height: 0.1em;margin: 10px 0 10px;"><span style = "padding:0 10px; background-color: white;">OR</span></h5>
                <br><h6 style="font-size: 20px;color: ghostwhite;"><center><b>Use Social Media Credentials</b><br></center>
                    <div class = "row" style = "padding-up: 65px;">
                        <div class = "col-lg-4 col-sm-12"><a href = "https://accounts.google.com/"><img class = "img rounded" src = "https://img2.cgtrader.com/items/2590278/0572f24550/google-logo-v1-002-3d-model-low-poly-max-obj-3ds-fbx-ma-stl.jpg" width = "40" height = "40"></a></div>
                        <div class = "col-lg-4 col-sm-12"><a href = "https://www.facebook.com"><img class = "img rounded" src = "https://tse3.mm.bing.net/th?id=OIP.FQYyu80e7eHzc3lbL4BzBQHaHY&pid=Api&P=0" width = "40" height = "40"></a></div>
                        <div class = "col-lg-4 col-sm-12"><a href = "https://www.instagram.com/"><img class = "img rounded" src = "https://tse3.mm.bing.net/th?id=OIP.xa0FgRBsvMi7bmVNCDYsCgHaHa&pid=Api&P=0" width = "40" height = "40"></a></div></div><br></div> 
    </body>
</html>